{% extends 'base.html.twig' %}

{% block content %}

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">News not found!</h5>
    <a href="#" class="btn btn-primary text-center">Go somewhere</a>
  </div>
</div>

{% endblock %}
